#artist-info{
    margin-top: 5rem;
    text-align: left;
    img{
        border-radius: 100%;
        width: 150px;
        height: 150px;
    }
    label{
        color: #ffffff;
        margin-left: 2rem;
        font-size: 42px;
    }
}